### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule StronaGlowna index.php
#Wersja PHP zmieniona: 2021-01-15 08:36:34
AddHandler application/x-httpd-php74 php 