/*Bez etykiety*/
label{
	margin-bottom:2px;
}

i.m-corr{
	font-size:1rem;
}

.navbar-container h3{
	font-weight: bold;
	margin-left: 20px;
}

h1.error_404{
	font-size: 100px;
	font-weight:600;
}

img.error_404{
	border-radius: 10px;
}

div.card-body.error_404{
	padding-top:20px;
	border-top: 1px solid #eaeaea;
}




/*Rejestracja i logowanie*/
.blackBlind{
	width:100vw;
	height:100%;
	background: black;
	opacity: 0.2;
	position: fixed;
}

.bgLoggin
{
  background: url(images/bgLogging.jpg);
    background-size: 125%;
    background-position: 80% 40%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
}

.bgRegistration{
	background: url(images/bgRegistration.jpg) no-repeat center center fixed;
    background-size: cover;
}

.bgResetPass{
	background: url(images/bgResetPass.jpg) no-repeat center center fixed;
    background-size: cover;
}

img.display-logo{
	width:250px;
}

img.sideBar-logo-revieved{
	margin: 0 10px;
	width:150px;
}

img.sideBar-logo-collapsed{    
	margin: 0;
    width: 50px;
    padding: 0 10px 0 0;
}




/*Rejestracja*/
.register-body input{
	padding: 0.6rem 1rem;
    font-size: 0.75rem;
    line-height: 1;
}

.register-body div.form-control-position{
	line-height: 2.5rem;
}

.register-body .btn{
	padding: 0.6rem 0.8rem;
}

.register-body h4{
	margin-top:20px;
	font-weight: 600;
}

.register-body li{
	list-style-type: disc;
}




/*Pogląd administratora*/
div.admin_powrot{
	width: 250px;
	z-index:9999999;
	position:fixed;
	bottom: 15px;
	right: 15px;
	text-align: center;
	background: white;
	padding: 20px;
	border-top: 20px solid #17a2b8;
	border-radius: 10px 0 0 0;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
}

div.admin_powrot > a{
	margin-top: 5px;
}




/*Kolor przycisków w stylu rrs*/
.btn-rss{
	color: white;
	background: #f7ac25;
}

.btn-rss:hover{
	background: #f6bd55;
	color: white !important;
}

.side_menu_divider{
	display: block;
    padding-bottom: 8px;
	border-bottom: 1px solid white;
}




/*Panel kontakt*/
.card-profile-image{
	margin: 20px auto 0 auto;
	background: #333;
	border-radius: 50%;
}

.profile-card-with-cover{
	padding: 0 30px;
}

.card-body-small{
	flex: 1 1 auto;
    padding: 0.5rem;
}

.btn-outline-instagram {
    border: 1px solid #f58529 !important;
    color: #f58529;
}

.btn-outline-instagram:hover {
    border: 1px solid #c16920 !important;
    color: #c16920;
}

.btn-outline-rss {
    border: 1px solid #333 !important;
    color: #333;
}

.btn-outline-rss:hover {
    border: 1px solid #2b2b2b !important;
    color: #2b2b2b;
}




/*Panel profil*/

div.profile-card{
	position: relative;
}

div.profile-card img{
	position: absolute;
	width: 60px;
	display: block;
	background: #333;
	border-radius: 10% 0 10% 0 ;
	top: -20px;
	right: -20px;
	padding: 5px;
}

div.profile-card img:hover{
	background:#222;
	cursor: pointer;
	animation-delay: 1s;
}

.profile-card-border{
	border-bottom: 2px solid #f7ac25;
}
.profile-card-border-admin{
	border-bottom: 2px solid #17a2b8;
}

.profile-card:hover{
	background: #fafafa;
}

.profile-card a:hover{
	color: #333;
	cursor: pointer;
}

.profile-card a:hover .profile-card{
	background: #fafafa;
	cursor: pointer;
}

.profile-subcard{
	background: #eee;
}

a.settings-link, a.settings-link-admin{
	color: #333 !important;
}

a.settings-link.active{
	color: #f7ac25 !important;
}

a.settings-link-admin.active{
	color: #17a2b8 !important;
}

.card-body a.btn-rss{
	margin-right: 10px;
}




/*BADANIE*/
.table th, .table td{
	padding: 0.75rem;
}

.no_data_msg{
	font-weight: 600;
	text-align: center;
}

.badanie_main{
	width:100%;
}

.badanie_main table{
	margin: 0;
}

.badanie_main table tr td:first-child, .badanie_main table tr th:first-child{
	width:40%;
}

.badanie_main table tr td:last-child, .badanie_main table tr th:last-child{
	width:60%;
}

#badanie_scroll_cont{
	height:300px;
	overflow-y:auto; 
    overflow-x:hidden; 
}

#badanie_scroll_cont table{
	overflow:visible;
}




/*PANEL ADMIN*/
/*tabela badań*/
.table-admin th, .table-admin td{
	padding: 0.4rem ;
}

.table-admin td{
	vertical-align: middle;
}

.table-admin td:nth-child(1){
	width:40px;
}

form.admin-form{
	display: inline-block;
	margin-right: 10px;
}

form.admin-form .btn{
	font-size:12px;
	padding: 0.5rem 0.75rem;
}

div.form-admin .form-control{
	padding: 0.6rem;
	width:90%;
}

div.form-admin .btn-info{
	padding: 0.5rem 0.75rem;
}

.table-admin-clubs td:nth-child(3){
	width:50px;
}

.ilosc_stron_klientow{
	display:inline-block;
	border: 1px solid grey;
	border-radius: 7px;
	padding: 5px;
	font-size: 12px;
	margin-right :10px;
}

a.szczegoly_klubu{
	float:right;
}




/*DODATKOWE STYLE GÓRNEGO NAV BARA*/
/*Dodatkowa stylizacja nazwiska w górnym nav barze*/
.surNavBar{
	margin-top:7px;
}

/*Podświetlenie ikon po najechaniu*/
a.iconsRss > i:hover{
	color: #f7ac25;
	pointer: cursor;
	animation-delay: .6s;
}

a.iconsRss-admin > i:hover{
	color: #17a2b8;
	pointer: cursor;
	animation-delay: .6s;
}




/*ASK_ME MSG*/
/*Karta informacyjna*/
#ICC{
	font: 'Lato';
	width:100%;
	height:100vh;
	position:fixed;
	top:0;
	left:0;
	z-index:12;
	display:none;
	transition: all .3s ease-in-out;
}

.ICC_active{
	
	display:block !important;
	background: rgba(0,0,0,.5)!important;
	transition: all .5s ease-in-out;
}

.infoCard{
	position:absolute;
	top: calc(50% - 150px);
	left: calc(50% - 225px);
	width:450px;
	overflow:hidden;
	padding: 20px 10px;
	background: white;
	border-radius: 15px 0 15px 0;
	transition: all .3s ease-in-out;
	border-top: 15px #ff4961 solid;
}

.infoCard-admin{
	border-top: 15px #17a2b8 solid !important;
}

.infoCard h2{
	font-size:20px;
}

.infoCard button, .infoCard a{
	float:right;
	margin-right:30px;
	margin: 5px;
}

#infoCard_0 > ul{
	margin-bottom:10px;
	margin-top:10px;
}

#infoCard_1 > h2{
	font-weight: bold;
	text-align:center;
	margin-bottom:20px;
}

#infoCard_1 > i{
	font-size:100px;
	margin: 10px auto;
	display: table;
}

#infoCard_1 > i.ft-alert-triangle{
	color: #f7ac25;
}

#infoCard_1 > i.ft-check-circle{
	color:green;
}




/*RESPONSYWNOŚĆ*/
/*Tablet*/
@media screen and (min-width:767px) and (max-width: 992px){
	
	.bgLoggin{
		background-size: cover;
	}

	.navbar-container h3{
		font-size: 1.4rem;
	}

	div.form-admin .form-group{
		display:inline-block; 
		width:48%;
	}

	div.admin_powrot{
		width: 250px;
		z-index:9999999;
		position:fixed;
		bottom: 10px;
		right: 10px;
		text-align: right;
		padding: 10px;
		border-top: 15px solid #17a2b8;
		border-radius: 10px 0 0 0;
		box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.2);
	}

	div.admin_powrot > h3{
		font-size:20px;
	}

	div.admin_powrot > a{
		margin-top: 0;
		font-size:12px;
	}
}




/*Telefon*/
@media screen and (max-width: 767px){
	
	.bgLoggin{
		background-size: cover;
	}

	img.brand-logo{
		width:200px;
	}

	img.display-logo{
		width:200px;
	}

	.form-group.register-field{
		margin-bottom:3px;
	}

	.navbar-nav{
		margin-top: 5px;
	}
		
	.navbar-container h3{
		font-size: 2rem;
		width: 100%;
		margin: 8px 0 2px 0;
	}

	div.form-admin .form-group{
		display:inline-block; 
		width:100%;
	}	

	.infoCard{
		top: 25%;
		left: 10%;
		width:80%;
		padding: 10px 0;
	}

	.infoCard h2{
		font-size:15px;
	}

	.infoCard button, .infoCard a{
		float:right;
		margin-right:30px !important;
	}

	div.admin_powrot{
		width: 100%;
		z-index:9999999;
		position:fixed;
		bottom: 0px;
		right: 0px;
		text-align: left;
		padding: 10px;
		border-top: 15px solid #17a2b8;
		border-radius: 10px 0 0 0;
		box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.2);
	}

	div.admin_powrot *{
		float: left;
	}

	div.admin_powrot > h3{
		font-size:14px;
		width:50%;
	}

	div.admin_powrot > a{
		width:50%;
		height:100%;
		margin-top: 0;
		font-size:10px;
	}

	div.badanie_box{
		width:100wh;
	}
	
	form.admin-form .btn{
		font-size: 10px;
		overflow-wrap: break-word;
	}

}