label{
	margin-bottom:2px;
}

i.m-corr{
	font-size:1rem;
}

.navbar-container h3
{
	font-weight: bold;
	margin-left: 20px;
}

.blackBlind{
	width:100vw;
	height:100%;
	background: black;
	opacity: 0.2;
	position: absolute;
}

.bgLoggin
{
  background: url(images/bgLogging.jpg);
    background-size: 125%;
    background-position: 80% 40%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
}

.bgRegistration{
	background: url(images/bgRegistration.jpg) no-repeat center center fixed;
    background-size: cover;
}

.bgResetPass{
	background: url(images/bgResetPass.jpg) no-repeat center center fixed;
    background-size: cover;
}

img.display-logo{
	width:250px;
}

img.sideBar-logo-revieved{
	margin: 0 10px;
	width:150px;
}

img.sideBar-logo-collapsed{    
	margin: 0;
    width: 50px;
    padding: 0 10px 0 0;
}

/*Hiperłącze z przyciskiem*/
a.knefel{
	display: block;
    margin: 10px auto;
}

/*Kolor przycisków w stylu rrs*/
.btn-rss{
	color: white;
	background: #f7ac25;
}

.btn-rss:hover{
	background: #f6bd55;
	color: white;
}

.side_menu_divider{
	display: block;
    padding-bottom: 8px;
	border-bottom: 1px solid white;
}

/*Rejestracja*/

.register-body input{
	padding: 0.6rem 1rem;
    font-size: 0.75rem;
    line-height: 1;
}

.register-body div.form-control-position{
	line-height: 2.5rem;
}

.register-body .btn{
	padding: 0.6rem 0.8rem;
}

.register-body h4{
	margin-top:20px;
	font-weight: 600;
}

.register-body li{
	list-style-type: disc;
}


/*Panel kontakt*/
.card-profile-image{
	margin: 20px auto 0 auto;
	background: #333;
	border-radius: 50%;
}

.profile-card-with-cover{
	padding: 0 30px;
}

.card-body-small{
	flex: 1 1 auto;
    padding: 0.5rem;
}

.btn-outline-instagram {
    border: 1px solid #f58529 !important;
    color: #f58529;
}

.btn-outline-instagram:hover {
    border: 1px solid #c16920 !important;
    color: #c16920;
}

.btn-outline-rss {
    border: 1px solid #333 !important;
    color: #333;
}

.btn-outline-rss:hover {
    border: 1px solid #2b2b2b !important;
    color: #2b2b2b;
}



/*Panel profil*/

div.profile-card{
	position: relative;
}

div.profile-card img{
	position: absolute;
	width: 60px;
	display: block;
	background: #333;
	border-radius: 10% 0 10% 0 ;
	top: -20px;
	right: -20px;
	padding: 5px;
}

div.profile-card img:hover{
	background:#222;
	cursor: pointer;
	animation-delay: 1s;
}

.profile-card-border{
	border-bottom: 2px solid #f7ac25;
}

.profile-card:hover{
	background: #fafafa;
}

.profile-card a:hover{
	color: #333;
	cursor: pointer;
}

.profile-card a:hover .profile-card{
	background: #fafafa;
	cursor: pointer;
}

.profile-subcard{
	background: #eee;
}

a.settings-link{
	color: #333 !important;
}

a.settings-link.active{
	color: #f7ac25 !important;
}





/*BADANIE*/
.table th, .table td{
	padding: 0.75rem; !important;
}

.brak_badan{
	font-weight: 600;
	text-align: center;
}





/*DODATKOWE STYLE GÓRNEGO NAV BARA*/
/*Dodatkowa stylizacja nazwiska w górnym nav barze*/
.surNavBar{
	margin-top:7px;
}

/*Podświetlenie ikon po najechaniu*/
a.iconsRss > i:hover{
	color: #f7ac25;
	pointer: cursor;
	animation-delay: .6s;
}



/*RESPONSYWNOŚĆ APLIKACJI*/
/*Tablet*/
@media screen and (min-width:767px) and (max-width: 1365px){
.bgLoggin {background-size: cover;}
.navbar-container h3{font-size: 1.4rem;}
}

/*Telefon*/
@media screen and (max-width: 767px){

.bgLoggin {background-size: cover;}
img.brand-logo{width:200px;}
img.display-logo{width:200px;}

.form-group.register-field{
	margin-bottom:3px;
}

.navbar-nav{
	margin-top: 5px;
}
	
.navbar-container h3
{
	font-size: 2rem;
	width: 100%;
	margin: 8px 0 2px 0;
}
}